@use "../abstracts" as var;

.header {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  place-items: center;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 0.4fr 1fr;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 0.5fr 0.5fr;
  }

  .white {
    background: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 2.8rem;
    position: relative;
    z-index: 100;
    width: 100%;

    img {
      max-height: 96.6px;
      position: relative;
      bottom: -24px;
    }
  }

  .orange {
    background: var.$orange;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 7.8rem;
    gap: 7rem;

    @media screen and (max-width: 1200px) {
      padding-inline: 4.8rem;
    }

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      overflow: hidden;
      transition: transform 0.5s ease-in-out;

      @media screen and (max-width: 1000px) {
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
        margin-inline: auto;
        z-index: 3;
        background: var.$orange;
        gap: 7rem;

        &.active {
          transform: translateY(100%);
        }
      }
    }

    a {
      font-size: 1.8rem;
      color: var.$text_blue;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .header-image {
    width: 37px;
    height: 18px;
    position: relative;
    z-index: 100;
  }
}
