@use "../abstracts" as var;

.template-home {
  .categories {
    margin-block: 7.1rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      list-style-type: none;
      gap: 1.7rem;
    }

    li {
      font-size: 1.8rem;
      width: fit-content;
      font-weight: 400;
      font-family: var.$inter;
      color: var.$text_blue;
      border: 1px solid var.$text_blue;
      border-radius: 11px;
      padding: 1.1rem 2.4rem;
      cursor: pointer;
      flex: 0 0 auto;
      transition: 0.3s ease-in-out;

      &.selected {
        color: #e30613;
        border-color: #e30613;
      }

      &:hover {
        color: #e30613;
        border-color: #e30613;
      }
    }
  }

  section.container {
    max-width: 50%;
    margin-inline: auto;

    @media screen and (max-width: 1500px) {
      max-width: 70%;
    }

    @media screen and (max-width: 1000px) {
      max-width: 90%;
    }
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &:not(:last-of-type) {
      margin-block: 6.9rem;
    }

    &:last-of-type {
      margin-bottom: 7.4rem;
    }
  }

  .article h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: var.$inter;
    color: var.$text_blue;
  }

  .date {
    margin-block: 1.5rem;
    color: #717171;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
  }

  .excerpt {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var.$inter;
  }

  .article-link {
    color: #e30613;
    font-size: 1.8rem;
    text-align: right;
    text-decoration: underline;
    margin-top: 0.9rem;
    align-self: end;
  }
}
